<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />

</head>
<body>

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><a  href="/">Главная</a></li>
            <li><a  href="/about/">Про Компанию</a></li>
            <li><a  href="/contact/">Контакты</a></li>
        </ul>

    </div>
</nav>

<div class="uk-container">
    <div class="uk-section uk-text-center">
        {% block content %}{% endblock content %}
    </div>
</div>
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
</body>
</html>