{% extends 'base.html' %}
{%  load custom_tags %}


{% block title %}
    Главная
{%endblock title %}


{% block content %}
    {% include 'components/header.html' %}
    <div class="uk-container uk-margin-top">
    {% if turn_on_block %}
        <article class="uk-article">
            <h1 class="uk-article-title" style="color: red"><a class="uk-link-reset" href="">
                {{ text|reverse_string  }}
            </a></h1>
            <p class="uk-article-meta uk-text-success">{%  current_date "%A %d. %B %Y %H:%m" %}. Posted in <a href="#">Blog</a></p>
            <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="#">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#">5 Comments</a>
                    </div>
                </div>
        </article>
        </div>
    {% else %}
        <h2><em>«Если у тебя есть посох, я тебе его дам. Если у тебя нет посоха, — я его у тебя заберу»</em></h2>
    {% endif %}

{% endblock content %}
