{% extends 'base.html' %}

{% block title %}Все объявления{% endblock %}

{% block content %}
    <div class="uk-container uk-container-large uk-margin-top">

                <h4>Рекомендуем посмотреть</h4>
        <ul class="uk-subnav uk-subnav-pill">
        <li class="{% if request.path == '/adverts/' %} uk-active {% endif %}">
            <a href="{% url 'adverts-list'  %}">Все</a> </li>
            {% for category in categories %}
                <li class="{% if category.category_slug in request.path %} uk-active {% endif %}">
                    <a href="{% url 'adverts-list' category.category_slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
            {% for object in  page_obj %}
                {% include 'components/card.html' %}
            {% endfor %}

        </div>
        <div class="uk-text-center">
            {% include 'components/pagination.html' %}
        </div>
    </div>
{% endblock %}