{% extends 'base.html' %}

{% block title %}Все объявления{% endblock %}

{% block content %}
    <div class="uk-container  uk-margin-top">
        <div class="uk-clearfix">
            <div class="uk-float-right">
                <form class="uk-search uk-search-default" method="get">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Поиск" name='query'
                           value='{{ request.GET.query }}'>
                </form>

            </div>
            <div class="uk-float-left">
                <h4>Рекомендуем посмотреть</h4>
            </div>
        </div>

        <ul class="uk-subnav uk-subnav-pill">
            <li class="{% if request.path == '/adverts/' %} uk-active {% endif %}">
                <a href="{% url 'adverts-list' %}">Все</a></li>
            {% for category in categories %}
                <li class="{% if category.category_slug in request.path %} uk-active {% endif %}">
                    <a href="{% url 'adverts-list' category.category_slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
            {% for object in  page_obj %}
                {% include 'components/card.html' %}
            {% endfor %}

        </div>
        <div class="uk-text-center">
            {% include 'components/pagination.html' %}
        </div>
    </div>
{% endblock %}