<div>
   <a href="{{ object.get_absolute_url }}">
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{ object.advert_title }} - <b>${{ object.price }}</b></h3>
            <p>{{ object.rooms}}-комн., {{ object.area }} м<sup>2</sup> </p>
        </div>
        <span>Просмотрено: {{ object.views }}</span>
    </div>
       </a>
</div>