{% if page_obj.has_other_pages %}
<ul class="uk-pagination uk-position-bottom uk-position-fixed uk-margin-remove-bottom uk-text-large
 uk-background-secondary uk-light uk-flex-center uk-animation-slide-bottom-medium">

    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.paginator.num_pages }}"><span uk-pagination-previous></span></a></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}

        {% if page_obj.number > 3 and forloop.first %}
            <li><a href="?page=1">1</a></li>
            <li class="disabled">⋯</li>
        {% endif %}

        {% if page_obj.number == i %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} 
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'3' and forloop.last %}
            <li>⋯</li>
            <li><a href="?page={{ i }}">{{ page_obj.paginator.num_pages }} </a></li>
        {% endif %}

    {% endfor %}

    {% if page_obj.has_next %} 
        <li><a href="?page={{ page_obj.next_page_number }}"><span uk-pagination-next></span></a></li>
    {% endif %}

</ul>
{% endif %}